# README: http://docs.gitlab.com/ce/ci/yaml/README.html
stages:
  - build
  - deploy
  
before_script:
  - uname -a
  - whoami
  - hostname
  - pwd
  
after_script:
  - echo 'after_script executing'
  - exit 0
  
build_doc_dir:
  stage: build
  script:
    - ./prepare.sh

deploy_to_test:
  stage: deploy
  script:
    - rsync -a t/ roel@mx.forskningsdatabasen.dk:tmp/deploytest/
