# README: http://docs.gitlab.com/ce/ci/yaml/README.html
stages:
  - build
  - deploy
  
before_script:
  - uname -a
  - whoami
  - hostname
  - pwd
  
after_script:
  - echo 'after_script executing'
  - exit 0
  
build_doc_dir:
  stage: build
  # artifacts is needed or any build products will be wiped in the next stage
  artifacts:
    paths:
      - t
  script:
    - ./prepare.sh

deploy_to_test:
  stage: deploy
  when: manual
  script:
    - rsync -a t/ roel@mx.forskningsdatabasen.dk:tmp/deploytest/
