# README: http://docs.gitlab.com/ce/ci/yaml/README.html
variables:
  - REMOTE 'ssh capistrano@zagenth.cvt.dk'

stages:
  - build
  - deploy
  
before_script:
  - uname -a
  - whoami
  - hostname
  - pwd
  
after_script:
  - echo 'after_script executing'
  - exit 0
  
build_doc_dir:
  stage: build
  # artifacts is needed or any build products will be wiped in the next stage
  artifacts:
    paths:
      - t
  script:
    - ./prepare.sh

deploy_to_test:
  stage: deploy
  environment: staging
  when: manual
  script:
    - rsync -r t/ roel@mx.forskningsdatabasen.dk:tmp/deploytest/

deploy_to_fake_prod:
  stage: deploy
  environment: fakeprod
  when: manual
  script:
    - rsync -avu --delete t/ capistrano@zagenth.cvt.dk:/tmp/deploytest/
    - $REMOTE 'chmod -R g+rw /tmp/deploytest'
    - $REMOTE 'sudo chgrp -R ds2 /tmp/deploytest'

